html {
    font-size: 13px;
}
#header {
    background: #f2f2f2;
    float: left;
    width: 25%;
}
#header h1 {
    padding: 0px;
}
.btn-blue {
    background: #009FE3;
    border-radius: 0;
    border: 1px solid #009FE3;
    padding: 2px 10px;
    text-transform: capitalize;
}
.btn-blue:hover {
    background: #2B2E83;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.btn-gray, #search input[type="button"], .business-hr-btn-gray, .btn-blue-popup, .btn-gray-popup,
#applyCouponButton{
    background: #dcdcdc;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    padding: 2px 10px;
    text-transform: capitalize;
    font-weight: normal;
}
.btn-gray:hover, #search input[type="button"]:hover, .business-hr-btn-gray:hover,
.btn-blue-popup:hover, .btn-gray-popup:hover, #applyCouponButton:hover{
    background: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    font-weight: normal;
    line-height: none;
    padding: 2px 10px;
}
.navbar {
    background: #f2f2f2;
    float: right;  
    margin-bottom: 0px;
}
.navbar .nav-collpas ul {
    margin: 10px;
}
.navbar .nav-collpas ul li a {
    color: #575656;
    text-shadow: none;
    border-right: 1px solid #575656;
}
.navbar .nav-collpas ul li .UserCon {
    color: #575656;
    font-weight: bold; 
    font-size: 13px;
    margin: 0px;
    position: relative;
    top: 5px;
}
.navbar .nav-collpas ul li ul {
    background: #fff;        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    top: 30px;
}
.navbar .nav-collpas ul li ul li:hover {
    background: #009FE3;
}
.navbar .nav-collpas ul li ul li a:hover {
    color: #fff;
}
.navbar .nav-collpas ul li ul { 
    z-index: 1;
}
.navbar .nav-collpas ul li ul li { 
    height: 30px;
    padding-top: 5px;
}
.navbar .nav-collpas ul li ul li a {
    border-right: none;
}
.menu ul li img, .menu li img {
    width: 18px;
}
#enableContent {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 40px;
}
#enableContent #tab-container .tab{
    background: #F2F2F2;
    border-radius: 0px;
}
#enableContent #tab-container .tab a{
    color: #222;
}
#enableContent #tab-container .tab:hover, #enableContent #tab-container  .tab.active {
    background: #009FE3;
}
#enableContent #tab-container .tab a:hover, #enableContent #tab-container  .tab a.active {
    color: #FFF;
}
#enableContent .tab-container .panel-container {
    padding: 3px;
}
#enableContent .tab-container .panel-container .tabl-con .td_header {
    background: #F2F2F2;
}
#enableContent .tab-container .panel-container .tabl-head {
    background: #009FE3;
}
#enableContent .gm-err-container {
    background: #F2F2F2;
}
#enableContent .td_footer {
    padding: 10px 5px;
}
.mthp_body_head, .mthp_footer {
    background: #F2F2F2 !important;
}
.mthp_body_head td {
    color: #222;
}
.popup_block {
    border: 3px solid #ddd !important;
    border-radius: 0px !important;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    border-radius: 0px;
}
#appoContainer .tab {
    background: #F2F2F2;
    border-radius: 0px;
}
#appoContainer .tab a{
    color: #222;
}
#appoContainer .tab:hover, .tab.active {
    background: #009FE3 !important;
}
#appoContainer .tab a:hover, .tab a.active {
    color: #fff !important;
}
.booking_tab_row_footer button, #btnPreBookFrm {
    background: #009FE3 !important;
    border: 1px solid #009FE3 !important;
}
.dateInfoTabl .dateInfoTablHead {
    background: #2B2E83;
}
.dateInfoTabl ul li {
    background: #F2F2F2;
}




#enableContent #ActiveService, #enableContent #ActiveStaff, #enableContent .tab-container .panel-container,
.review_block, .review_block .roundbox, .allLoginText, .input-append input, .input-prepend input, .input-append select, .input-prepend select, 
.input-append .uneditable-input, .input-prepend .uneditable-input, #cus_fname_2,
label, input, button, select, textarea, .registration-div{
    border-radius: 0px !important;
}




.footer {
    background: #2B2E83;
    height: 65px;
}
.footer .twelve{
    padding-top: 10px;
}
.footer a:hover, .footer a:focus {
    color:#fff;
    text-decoration: underline;
}