html {
    font-size: 13px;
}
/*Login css */
.maincontainer .wrap .styled {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 2px solid #ccc;
    border-radius: 0px;
}

/*After login css */
.gm-err-container {
    background: #F2F2F2;
}
pre {
    display:none;
}
.alertMsg {
    border-radius: 0px !important;
    border: 3px solid #ccc !important;
}
.btn-blue {
    background: #009FE3;
    border-radius: 0;
    border: 1px solid #009FE3;
    padding: 2px 10px;
    text-transform: capitalize;
}
.btn-blue:hover {
    background: #2B2E83;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.btn-gray, #search input[type="button"], .business-hr-btn-gray {
    background: #dcdcdc;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    padding: 2px 10px;
    text-transform: capitalize;
    font-weight: normal;
}
.btn-gray:hover, #search input[type="button"]:hover, .business-hr-btn-gray:hover{
    background: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    font-weight: normal;
    line-height: none;
    padding: 2px 10px;
}
input, select {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px;
}
.inner-div textarea, .inner-div input[type="text"], .inner-div input[type="password"] {
    border-radius: 0px;
}
.navigation {
    background: #f2f2f2
}
.navigation ul.mainNav > li > a {
    color: #009FE3;
    font-size: 15px;
    text-transform: capitalize;
}
.navigation ul.mainNav > li:hover > a, 
.navigation ul.otherNav > li:hover > a {
    background: none;
    color: #009FE3;
}
.navigation ul.mainNav > li ul, 
.navigation ul.otherNav > li ul {
    background: #fff;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.navigation ul.otherNav li #ddmMyHome{
    color: #575656; 
}
.navigation ul.mainNav > li a, .navigation ul.otherNav > li a,
.navigation ul.mainNav > li ul li a, .navigation ul.otherNav > li ul li a{
    color: #575656; 
    text-transform: capitalize;
    
}
.navigation ul.otherNav > li ul li a {
    font-size: 13px;
}
.navigation ul.mainNav > li ul li a:hover, .navigation ul.otherNav > li ul li a:hover {
    background: #009FE3;
    color: #fff;
}
#detacontain {
    top: 25px;
}
.headign-main-superadmin, .headign-main {
    background: #009FE3 none repeat scroll 0 0;
    text-transform: capitalize;
    border-radius: 0px;
}
.superadmin_rounded_corner, .rounded_corner_full {
    border-radius: 0px;
    border: 1px solid #009FE3;
}
.rounded_corner_full h2 {
    border-radius: 0px;
    color: #222;
    background: #F2F2F2;
}
table.list-view tr:nth-child(2n+1), .cus-listing-tabl tr:nth-child(2n+1) {
    background: #FFF;
}
table.list-view tr:nth-child(2n), .cus-listing-tabl tr:nth-child(2n) {
    background: #f2f2f2 none repeat scroll 0 0;
}
.super-listing-tabl tr:hover td, .cus-listing-tabl tr:hover td {
    background-color: #f2f2f2;
}
table tr th {
    background: #ffffff !important;
    color: #222 !important;
    text-transform: capitalize !important;
} 
table.list-view tbody tr td,
table.list-view tbody tr th,
table.list-view thead tr th{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
#add_new_link{
    text-transform: capitalize !important;
    width: auto !important; 
}
#staff_name_date, #staff_name_date_time {
    background: #F2F2F2;
    color: #222;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
}
.rounded_corner {
    border-radius: 0px;
}
.text-input-staff {
    border-radius: 0;
    padding: 5px 0 5px 1%;
}
.business-hr-blue-bg {
    background: #009FE3;
    border-radius: 0px;
    padding: 3px 8px 0px 2px;
}
.business-hr-blue-bg-border {
    border-radius: 0px;
    border: 2px solid #009FE3;
}
.business-hr-blue-bg-border .business-hour {
    border-radius: 0px;
}
.business-hour table td:hover {
    background: #f2f2f2;
}
#front_popup.popup_block {
    border: 3px solid #ddd;
    border-radius: 0px;
}
.text-input-bizhours {
    background: none;
}
.show-dependency {
     border: 2px solid #009FE3;
     border-radius: 0px;
}
.spiffyfg {
    padding: 10px;
    border-radius: 0px;
}
.rounded_corner h3{
    border-radius: 0px;
}
.admin-rules-container {
    margin-top: 20px;
}
.admin-rules-container table tr td.sign_upinfo_itemClass,
.admin-rules-container table tr td.checkBx{
    padding: 10px !important;
}
.admin-rules-container table tr td h2 {
    margin: 10px 0 !important;
}
#customizeForm table tr:nth-child(2n){
    background: #fff;
}
#customizeForm .emailHead {
    background: #F2F2F2;
    border-radius: 0px;
    color: #222;
}
#customizeForm .emailHead label {
    color: #2B2E83;
    font-size: 15px;
}
#customizeForm .emailHead label img{
    height: 20px;
    width: 20px;
}
#customizeForm .spiffyfg .have_any_enquiry {
    border-radius: 0px !important;
    border: 2px solid #55779a !important; 
}
.admin-cms-container #tabs {
    border-radius: 0;
    margin: 30px auto;
    padding: 20px;
}
.admin-cms-container #tabs .ui-tabs-nav {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    margin-top: 13px;
}
.admin-cms-container #tabs .ui-tabs-nav li {
    background: #fff;
    border: medium none !important;
}
.admin-cms-container #tabs .ui-tabs-nav li a{
    color: #222;   
    width: 82%;
}
.admin-cms-container #tabs .ui-tabs-nav li a:hover,
.admin-cms-container #tabs .ui-tabs-nav li.ui-state-active{
    background-color: #009FE3 !important;   
    color: #fff;
    border: medium none !important;
}
.admin-cms-container #tabs .ui-tabs-nav li.ui-state-active {
    color: #fff;
    width: 98%;
    border-radius: 0px;
    margin-bottom: 0px;
}
.admin-cms-container #tabs .ui-tabs-nav li.ui-state-active a {
    color: #fff;
}
.admin-my-membership-container ul.tabs li {
    background: #F2F2F2;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.admin-my-membership-container .inner-div-member {
    padding: 8px 30px;
}
.admin-my-membership-container ul.tabs li a{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.admin-my-membership-container .tabContainer {
    border-radius: 0px;
}
.admin-my-membership-container #all_listing table {
    margin: 0 auto;
}
.admin-my-membership-container table.list-view {
    margin: 0 auto;
}
.admin-my-membership-container table.list-view .purchase-option {
    margin: 10px 0;
}
.admin-my-membership-container table.list-view .purchase-option input{
    left: 5px;
    position: relative;
    top: -7px;
}
#new_user input[type="text"], #new_user textarea{
    border-radius: 0px;
}
#new_user input[type="text"]:focus, #new_user select:focus, #new_user textarea:focus {
    background: #fff !important; 
}
.customer-tag .tag_show {
    background-color: #f2f2f2;
    color: #222;
}
#history {
    border-radius: 0px;
}
#history .tabing ul li a.select, .tabing_customer ul li a.select {
    background: #009FE3;
}
.tabing ul li a:hover, .tabing_customer ul li a:hover {
    background: #009FE3 none repeat scroll 0 0;
    color: #fff;
}
#history .tabing ul li a, .tabing_customer ul li a {
    border-radius: 0px;
    color: #222;
    padding: 6px 10px;
}
#history #appointments_history {
     margin: 6px 0 0 9px !important; 
     padding-bottom: 20px;
}
.credit-table td input[type="text"] {
    background: #fff; 
    border-radius: 0px;
}
.credit-table td {
    padding: 0 0 0 10px;
}
.admin-customer-type-container table tr td table tr:first-child {
    background: #fff !important;
}
.admin-customer-type-container table tr td table tr td {
    border: 1px solid #ccc;
}
.admin-social-promotion-container {
    margin-top: 20px;
}
#AllTemplate #tabContent .bussinessDetailBlockHeadingNoBottom {
    background: #F2F2F2;
}
#AllTemplate #tabContent .NewPromotionDiv {
    padding: 20px;
}
#AllTemplate #tabContent .NewPromotionFieldSet {
    padding: 20px;
}
.btn-gray-popup, #butSave {
     background: #009FE3;
}

/* Calendar CSS */
#front_popup .ui-tabs .ui-tabs-nav li {
    background: #009FE3;
    border-radius: 0px;
}
#front_popup .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #F2F2F2;
}
#front_popup .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #222;
}
#front_popup .ui-tabs .ui-tabs-nav li a{
    color: #fff;
}
#front_popup .ui-state-active, #front_popup.ui-widget-content .ui-state-active {
    background: #F2F2F2;
    border-radius: 0px;
}
#frm_appointment table tr:nth-child(2n),
#frm_appointment table tr:nth-child(2n+1){
    background: none !important;
}
#frm_appointment .report-search,
.admin-clients-reports-container .report-search {
    background: #F2F2F2;
}
.admin-clients-reports-container table tr:nth-child(2n+1) {
    background: none !important;
}
.ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
    background-color: #F2F2F2 !important;
    color: #222 !important;
    border-radius: 0px !important;
}
.ui-icon {
    background-image: none !important;
}
.ui-widget-header {
    background: #009FE3 !important;
}
.ui-state-active {
    background: #009FE3 !important;
    color: #fff !important;
}
#GetPrint {
    border-radius: 0px;
    border: 2px solid #99b3e6;
    width: 362px;
}
#GetPrint table tr:nth-child(2n), #GetPrint table tr:nth-child(2n+1) {
    background: #F2F2F2 !important;
}
#calender_pre, #calender_next, #calender_today, #calender_print, #calender_ical, #calender_refresh, 
#caltop_12, #calblock_12, #calender_settings{
    background: #009FE3 !important;
    color: #FFF !important;
}
.onecol button {
    background: #009FE3 !important;
    color: #FFF !important;
}
.monthData {
    background: #009FE3;
    border-radius: 0px;
}
.responsive-view .tabuler-deta .thead, .onecol {
    background: #009FE3 !important;
    color: #FFF;
}
.min_max_div {
    height: 40px !important;
}
.min_max_div span.book_cont {
    background-image: none !important;
    background-color: #F2F2F2 !important;
    border-radius: 0px;
}
.bodypartonecol #BookingOption, #ScheduleBooking {
    border: 3px solid #99b3e6;
    border-radius: 0px;
}
.bodypartonecol #BookingOption::before, #ScheduleBooking::after {
    background: none;
}
.tabuler-deta-employee {
    background: #009FE3;
}
.pard_bk_date a {
    color: #ff9999 !important;
}
.warningMsg, .account-overview, #customizeForm .emailShortContent, .text_input,
#AllTemplate #tabContent .NewPromotionDiv, #AllTemplate #tabContent .NewPromotionFieldSet,
#front_popup_content #tabs, .ui-corner-all, .report-search, .boxInput input[type="text"], 
#TopBlockDiv, .search-filed{
    border-radius: 0px !important;
}