html {
    font-size: 13px;
}
.header {
    background: #F2F2F2;
    border-bottom: 1px solid #ddd;
}
.header h1{
    padding: 0px;
}
body {
    background: url(../admin_image/booking-reg5.jpg) no-repeat;
    /*background-position: center;*/
    background-size: cover;
}
.wrap {
    padding-top: 30px;
}
.wrap h2.text-center {
    padding: 10px 0 20px;
    text-decoration: underline;
    color: #2B2E83;
}
.from_registred {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.from_registred input[type="text"], .from_registred input[type="password"] {
    border-radius: 0px;
}
.btn-blue {
    background: #009FE3;
    border-radius: 0;
    border: 1px solid #009FE3;
    padding: 2px 10px;
    text-transform: capitalize;
}
.btn-blue:hover {
    background: #2B2E83;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#country, #profession {
    border-radius: 0px;
}