
a[href^=tel] { color: inherit; text-decoration: none;}

::selection {color:#fff;background:#00c2e5;}
::-moz-selection {color:#fff;background:#00c2e5;}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
	background-color: #fff;	
}

h1, h2, h3, h4, h5, h6 {
  	color: #333;
}

h1{
	font-size:40px;
	line-height:1;
	color:#fff;	
}

h2 {	
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	line-height: 65px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-family: 'Raleway', sans-serif;	
	font-size:35px;	
	color:#3f4547;	
	line-height:42px;
	font-weight:600;
	margin-bottom:60px;
	letter-spacing: 0.03em;
	text-align: center;
}
h4 {
	font-family: 'Raleway', sans-serif;	
}

h5 {
	font-size: 18px;
	line-height:1;
	font-weight:700px;
	color:#fff;
}
.btn {
	border: 0;
	border-radius: 0;
}

.btn.btn-primary:hover {
  	background-color: #017fb5;
}

a {
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus, 
a:hover {
	text-decoration: none;
	outline: none;
}
p{
 font-size:18px;
 line-height:27px;
 color:#888888;
 font-weight:400;
}
.create-form .btn-primary{
	-webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 0 0 0px rgba(0,0,0,0.24);
	box-shadow: 0 0 0 0 rgba(0,0,0,0.24);
}

.btn-primary{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #26cbae;
	color: #fff;
	font-family: 'Raleway', sans-serif;	
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.05em;
	margin-top: 10px;
	padding: 17px;
	-webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.24);
	transition: all 0.9s;
}
.btn-primary:hover{
	background-color: #e72f2a !important; 
}


/* header
-------------------------------------- */
.navbar{
	min-height:auto;
}
.navbar-right{
	margin-right:0;
}
header .navbar-default{	
	border:none;
	margin-bottom:0;
}
header .navbar-brand{
	height:auto;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:0;
}

.navbar-default.scrollspy_menu{
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	padding:10px 0;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.06em;
}
.navbar.navbar-default.navbar-fixed-top.scrollspy_menu.navbar__initial .navbar-nav > li > a {
    color: #fff;
}
.navbar.navbar-default.navbar-fixed-top.scrollspy_menu .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    margin-top: 12px;
}

/*banner*/
.banner-caption{
	position: absolute;
	width: 100%;
	z-index: 9;
	margin-top: 148px;
}
.banner-caption h2{
	margin-top: 14%;
	margin-bottom: 20px;	
}
.banner-caption p{
	font-family: 'Raleway', sans-serif;
	font-size: 29px;
	line-height: 36px;
	color: #fff;
	font-weight: 400;
}
.create-form{
	width: 482px;
	float: right;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.create-form h3{
	font-size: 22px;
	line-height: 29px;
	margin: 0px;
	margin-bottom: 0px;
}
.create-form h4{
	text-align: center;
	font-weight: 600;
	color: #565e61;
	font-size: 16px;
	margin-bottom: 29px;
	margin-top: 14px;
}
.create-form h4 span{
	display: inline-block;
	background-color: #fff;
	position: relative;
	z-index: 9999;
	padding: 0 20px;
}
.create-form h4:after{
	content:"";
	width:100%;
	border-top: solid 1px #dcdcdc;
	position: relative;
	display: block;
	margin-top: -10px;
}
.form-row{
	width: 100%;
	margin-bottom: 8px;
}
.form-row label{
	width: 130px;
	float: left;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 34px;
	color: #565e61;
	font-weight: 500;
	letter-spacing: 0.02em;
}
.feild-box{
	width: 290px;
	float: right;
	position: relative;
}
.feild-box2{
	width: 219px;
	position: relative;
	float: left;
}
.feild-box span{
	float: right;
	margin-top: 8px;
}
.form-control{
	background-color: #ffffff;
	border: solid 1px #dcdcdc;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 34px;
	color: #565e61;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
	box-shadow: inset 0 0 0 rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select-style {
    width: 100%;
	margin-bottom:5px;
}

.select-style select {
	width: 100%;
	padding: 0 8px;
	border: none;
	box-shadow: none;
	background: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 35px;
	font-style: normal;
	font-weight: 400;
	height:35px;
	border: 1px solid #dcdcdc;
	cursor:pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:999;
	position: relative;
}
.select-style:after{
	content: "\f3d0";
	font-family: "Ionicons";
	font-size:19px;
	color:#cbcbcb;
	position:absolute;
	right: 12px;
    top: 8px;
}

.select-style select {
	outline: #dedede;	
	color: #333;
}
.select-style select.tu{
    font-size: 16px;
}
.select-style select.tu option{
	padding:8px 0 8px 13px;	
    font-size: 16px;
}

.select-style select.tu option:checked,
.select-style select.tu option:hover {
    box-shadow: 0 0 10px 100px #9cbb4b inset;
}
.col1{
	width: 140px;
	float: left;
}
.col2{
	width: 140px;
	float: right;
}

/*Our Features*/
.ourfeatures-outer{
	width: 100%;
	padding: 80px 0px 40px 0px;
}
.ourfeatures-outer h3{
	text-transform: capitalize;
	margin: 0px;
	font-weight: 700;
	margin-bottom: 70px;
}
.features-icon{
	width: 100px;
	height: 90px;
	margin: 0px auto;
	text-align: center;
}
.features-info{
	margin-bottom: 60px;
}
.features-info h4{
	font-size: 21px;
	text-align: center;
	color: #656b75;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 15px;
}
.features-info p{
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #6c727d;
	font-weight: 400;
	margin: 0px;
}

/*Our Features*/
.selfservice-outer{
	width: 100%;
	padding: 70px 0px;
	background:url(../images/self-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.selfservice-outer h3{
	color: #fff;
	margin-bottom: 20px;
}
.selfservice-outer p{
	color: #fff;
	width: 70%;
	margin: 0px auto;
	text-align: center;
}	
.laptop-outer{
	width: 812px;
	margin: 0px auto;
	margin-bottom: -172px;
}
/*integrate*/
.integrate-outer{
	width: 100%;
	padding: 180px 0px 60px 0px;
}
.integrate-outer ul{
	padding: 0px;
	margin: 0px;
}
.integrate-outer ul li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	float: left;
	border-right: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7;
	width: 25%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	text-align: center;
}
.integrate-outer ul li .logo-icon{
	height: 126px;
	display: table-cell;
	vertical-align: middle;
	width: 5%;
}
.integrate-outer ul li:nth-child(4){
	border-right: 0px none;
}
.integrate-outer ul li:nth-child(8){
	border-right: 0px none;
}
.integrate-outer ul li:nth-child(9){
	border-bottom: 0px none;
}
.integrate-outer ul li:nth-child(10){
	border-bottom: 0px none;
}
.integrate-outer ul li:nth-child(11){
	border-bottom: 0px none;
}
.integrate-outer ul li:nth-child(12){
	border-bottom: 0px none;
	border-right: 0px none;
}
.integrate-outer ul li:hover{
	cursor: pointer;
}
.integrate-outer ul li img{
	opacity:0.6;
	transition: all 0.9s;
}
.integrate-outer ul li:hover img{
	opacity:1;
	margin-top:-15px;
}
/*app-outer*/
.app-outer{
	width: 100%;
	background: #f5f5f5;
	padding: 50px 0 0 0;
}
.app-outer h3{
	text-align: left;
	margin-bottom: 15px;
	margin-top: 151px;
}
.app-outer ul{
	padding: 0px;
	margin: 30px 0 0 0px;
}
.app-outer ul li{
	float: left;
	list-style-type: none;
	margin-right: 20px;
}
.free-outer{
	width: 100%;
	background: #079dbd;
	padding: 80px 0px 30px 0px;
}
.free-outer h3{
	color: #fff;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 30px;
}
.free-outer p{
	color: #fff;
	font-size: 21px;
	line-height: 28px;
	text-align: center;
	width: 60%;
	margin: 0px auto;
}
.account-box{
	width: 300px;
	margin: 30px auto;
}
footer{
	background: #fff;
	padding: 30px 0px 15px 0px;
}
.footer-row1{
	 border-bottom: solid 1px #e0e5e8;
	 padding-bottom: 30px;
}
ul.footer-list1{
	padding: 0px;
	margin: 0px;
}
ul.footer-list1 li{
	list-style-type: none;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 80px;
	font-style: normal;
	font-weight: 400;
	color: #979a9e;
	margin-right: 30px;
}
ul.footer-list1 li img{
	vertical-align: middle;
}
ul.footer-list2{
	padding: 0px;
	margin: 25px 0 0 0px;
	float: right;
}
ul.footer-list2 li{
	list-style-type: none;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
	font-weight: 400;
	color: #979a9e;
	margin-left: 30px;
}
ul.footer-list2 li a{
	color: #979a9e;
}
ul.footer-list2 li a:hover{
	color: #000;
}
.footer-row2{
	margin-top: 10px;
	padding-top: 12px;
}
footer p{
	float: left;
	font-size: 13px;	
}
.footer-row2 ul{
	float: right;
}
.footer-row2 ul li{
	float: left;
	margin-left: 15px;
	list-style-type: none;
}
.footer-row2 ul li a{
	width: 38px;
	height:38px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: solid 1px #dbdbdb;	
	font-family: "Ionicons";
	text-align: center;
	font-size: 17px;
	line-height: 38px;
	display: block;
	color: #d9d9d9;
	background: #fff;
	transition: all 0.9s;
}
.footer-row2 ul li a:hover{
	color: #fff;
	background: #19c7a8;
	border-color: #19c7a8;
	
}
.arrow-navigation.left{
	display: none;
}
.arrow-navigation.right{
	display: none;
}
	









@media (min-width: 768px) {
.navbar-default.scrollspy_menu.navbar__initial {
    padding: 15px 0;  
	box-shadow:none!important;
	background-color:transparent!important;
  }
 
}
/* banner
-------------------------------------- */


/* responsive css 
-------------------------------------- */
.mb-view{display:none;}
.mb-sign{display:none;}
@media screen and (max-width: 991px) {
.banner-caption h2 {
    display: none;
}
.banner-caption p {
    display: none;
}
.create-form {
    width: 482px;
    float: none;
	margin: 0px auto;
}
.laptop-outer {
    width: 100%;
}
.app-outer ul li {
    width: 50%;
	margin: 0px;
}
.free-outer {
    margin-top: 40px;
}

}

@media screen and (max-width: 767px) {
h3 {
	font-size:28px;	
	line-height:35px;
	margin-bottom:60px;
	margin-top: 0px;
}
.create-form{
	width: 100%;
	-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.26);
	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.26);
}
.form-row label {
    width: 100%;
    text-align: left;
}
.feild-box {
    width: 100%;
}
.col1{
	width: 48%;
}
.col2{
	width: 48%;
}
.arrow-navigation.left{
	display: none;
}
.arrow-navigation.right{
	display: none;
}
.laptop-outer {
    width: 100%;
    margin-bottom: -172px;
}
.selfservice-outer {
    padding: 40px 0px;
}
.account-box {
    width: 100%;
}
.integrate-outer ul li .logo-icon {
    height: 100px;
}
.integrate-outer ul li {
    border-right: 0px;
    border-bottom: solid 1px #e7e7e7;
    width: 50%;
}
.integrate-outer ul li:nth-child(9){
	border-bottom: solid 1px #e7e7e7;
}
.integrate-outer ul li:nth-child(10){
	border-bottom: solid 1px #e7e7e7;
}
.integrate-outer ul li:nth-child(11){
	border-bottom: solid 1px #e7e7e7;
}
.integrate-outer ul li:nth-child(12){
	border-bottom: solid 1px #e7e7e7;
}
.app-outer {
    padding: 30px 0 0 0;
}
.app-outer h3 {
    margin-top: 30px;
}
.app-outer ul li {
    width: 50%;
	float: left;
	margin-right: 0px;
}
.free-outer h3 {
	font-size:28px;	
	line-height:35px;
    margin-bottom: 30px;
}
.free-outer {
    padding: 40px 0px 30px 0px;
	margin-top: 30px;
}
.free-outer p {
    width: 100%;
}
ul.footer-list1 {
	text-align: center;
}
ul.footer-list1 li {
	float: none;
	display: inline-block;
	margin-right: 0px;
	margin: 0 10px;
}
ul.footer-list2 {
	text-align: center;
    float: none;
}
ul.footer-list2 li {
	float: none;
	display: inline-block;
}
footer p {
    float: none;
   text-align: center;
}
.footer-row2 ul {
    float: none;
	text-align: center;
	padding: 0px;
}
.footer-row2 ul li {
    float: none;
	display: inline-block;
	margin: 0 10px;
}
.flickerplate {
    height: 1050px;
}
.nav-logo{
	width: 100px;
}
.navbar-default .navbar-toggle {
    margin-top: 20px;
}
.navbar.navbar-default.navbar-fixed-top.scrollspy_menu.navbar__initial .navbar-nav > li > a {
    color: #000;
}



.navbar-default .navbar-toggle{border:none; padding:0;}
.navbar-default .navbar-toggle .icon-bar{background-color:#173452; height:5px; width:33px; border-radius:3px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:transparent;}
.navbar-default .navbar-collapse{background-color:#fff; margin-top:5px;}
.mainnav>li>a.signup{display:none;}
header .mainnav>li>a:hover{color:#072646!important;}
.totalweight input[type="submit"] {bottom: -39px;}


}
@media screen and (max-width: 430px) {
.banner-info h2{font-size:2.2rem;}
}



