html {
    font-size: 13px;
}
.navigation {
    background: #f2f2f2
}
.navigation ul.mainNav li a.select,
.navigation ul.mainNav > li > a, .navigation ul.mainNav > li:hover > a {    
    background: none;
}
.floatRight, .navigation ul.otherNav {
    margin: 10px;
}
.headign-main-superadmin {
    background: #009FE3 none repeat scroll 0 0;
    text-transform: capitalize;
}
.super-listing-tabl {
    margin: 20px auto;
}
.super-listing-tabl tr:nth-child(2n+1), .cus-listing-tabl tr:nth-child(2n+1) {
    background: #fff none repeat scroll 0 0;
}
.super-listing-tabl th:first-child, .super-listing-tabl td:first-child, 
.cus-listing-tabl th:first-child, .cus-listing-tabl td:first-child {
    padding: 10px;
}
.super-listing-tabl th, .cus-listing-tabl th {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #333;
    height: auto;
    padding: 10px;
}
.App-details table td, .account-overview table td, .super-listing-tabl td, .cus-listing-tabl td {
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.super-listing-tabl tr:last-child td, .cus-listing-tabl tr:last-child td {
    border-bottom: 1px solid #ccc !important;
}
.super-listing-tabl tr:nth-child(2n), .cus-listing-tabl tr:nth-child(2n) {
    background: #f2f2f2 none repeat scroll 0 0;
}
.super-listing-tabl tr:hover td, .cus-listing-tabl tr:hover td {
    background-color: #f2f2f2;
}
.navigation ul.otherNav > li ul {
    background: #fff;        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.navigation ul.otherNav > li ul li a {
    color: #333;
    font-size: 13px;
    padding: 8px 10px;
}
.navigation ul.otherNav > li ul {
    width: 180px;
}
.navigation ul.otherNav li span{
    color: #575656 !important;
}
.navigation ul.otherNav li a {
    text-transform: capitalize;
    font-size: 15px;
    color: #575656;
}
.navigation ul.otherNav li a:hover {
    background: none;
    color: #009FE3;
}
.navigation ul.otherNav > li ul li a:hover {
    background: #009FE3;
    color: #fff;
}
#header, .header {
    background: #fff;
}
.btn-blue {
    background: #009FE3;
    border-radius: 0;
    border: 1px solid #009FE3;
    padding: 2px 10px;
    text-transform: capitalize;
}
.btn-blue:hover {
    background: #2B2E83;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
table tr:first-child {
    background: #ffffff !important;
}
.menuName table tbody tr td table tr td{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.mid_manager_serch .text_input {
    border-radius: 0;
    padding: 5px 0 5px 1%;
}
.mid_manager_serch table {
  margin-bottom: 20px;  
}
.superadmin_rounded_corner, .rounded_corner_full {
    border-radius: 0px;
    border: 1px solid #009FE3;
}
.superadmin_rounded_corner .headign-main-superadmin {
    border-radius: 0px;
}
.rounded_corner_full .headign-main {
    border-radius: 0px;
    background: #009FE3;
    text-transform: capitalize;
}
table tbody tr td, table tbody tr td a {
    color: #222 !important;
}
#faq_listing table tr td, #faq_listing table tr th {
    border: 1px solid #ccc;
    padding: 5px;
}
.credit-table td input[type="text"] {
    background: #fff none repeat scroll 0 0;
    height: 32px;
    border-radius: 0px;
}
.credit-table td select {
    background: #fff;
    border-radius: 0;
    height: 32px;
    width: 74%;
}
span.cke_skin_kama {
    border-radius: 0px !important;
    padding: 6px !important;
}
.btn-gray {
    background: #dcdcdc;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    padding: 2px 10px;
    text-transform: capitalize;
}
.btn-gray:hover {
    background: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #575656;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.text-input-staff {
    border-radius: 0;
    height: 32px;
}
#form-chng-pass .form-row label {
    width: 30%;
}
input, select {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px;
}
.maincontainer .wrap .styled {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 2px solid #ccc;
    border-radius: 0px;
}
#paginate {
    padding-left: 3% !important;
}